
            body{
                font-family: sans-serif;
            }
            .guestPortal{
                position: relative;
                background-color: #2e053b;
                color: white;
                width: 17%;
                height: 90%;
                padding-left: 4%;
                padding-top: 40px;
                font-size: 100%;
                font-weight: bolder;
            }
            .name{
                font-size: 180%;
                padding-left: 4%;
                text-shadow: 0px 0px 1px #000000;
            }
            .bookingbox{
                padding-left: 50%;
                line-height: 200%;
                bottom: 90%;
                position: relative;
            }
            #userInfo{
                font-size: 120%;
                padding-left: 30%;
                line-height: 200%;
                bottom: 80%;
                position: relative;
                line-height: 40px;
            }

            .bookingbox label{
                padding-left: 2%;
                font-weight: bold;
            }
            input{
                width: 30%;
                font-size: 100%;
            }
            #startTime{
                border: none;
                width: 13%;
            }
